
  .container2{
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:   10% 90%;
    grid-template-areas:  "header"
                          "body";
  }
  
  .header2{
    background-color: #D53143;
    grid-area: header;
  }

  
  .content2{
  background-color: white;
  grid-area: body;
  justify-content:left;
  
  flex-wrap: wrap;
  max-height: 100vh;
  color: w;
  
  }

  .card2{
    margin:auto;
    width:90%;
    height: 40%;
    background: #773344;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "filter1 filter2 filter3 filter4";

    
  }

  .Autor{
    grid-area: filter1;
    text-decoration: none;
    color: white;
    
  }
  
  .Pdate{
    grid-area: filter2;
    text-decoration: none;
    color: white;


  } 
  .university{
    grid-area: filter3;
    text-decoration: none;
    color: white;

  } 
  .tags{
    grid-area: filter4;
    text-decoration: none;
    color: white;


  }


  
  .card2-text{  
    margin-right: ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
  }
  
  .pcard{
    margin: 5px;
    width: 100%;
    height: 400px;
    background: #D9D9D9;
  }
  
  .pcard-text{  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
  }