
  .container{
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows:   10% 90%;
    grid-template-areas:  "header header"
                          "body navbar";
  }
  
  .header{
    background-color: #D53143;
    grid-area: header;
  }
  
  .navbar{
    background-color: #773344;
    grid-area: navbar;
  }
  
  .cardsLink{
    text-decoration: none;
    color: #000000;
  }

  .content{
  background-color: white;
  grid-area: body;
  justify-content:left;
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  overflow-y: scroll;
  }

  .card{
    margin: 5px;
    width: 400px;
    height: 450px;
    background: #bdbcbc;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:   70% 20% 10% ;
    grid-template-areas: "cbody"  
                         "title"
                         "fdate";
    border-radius: 5px;

  }

  .card img{
    height: 100%;
    width: 100%;
  }

  .title{
    grid-area: title;
    text-align: left;
    border-radius: 5px;
  }

  .title h2{
    position: relative;
    bottom: 50%;
  }

  .body{
    grid-area: cbody;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:   80% 20% ;
    grid-template-areas:  "bimg"
                          "btags";
    border-radius: 5px;
  }

  .imageContainer{
    grid-area: bimg;
    border-radius: 5px;
  }

  .tagsContainer{
    grid-area: btags;
    display: flex;
  }


  .card img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }

  .card .footer{
    grid-area: fdate;
    border-radius: 5px;
  }

  .acronym{
    background-color: #000000;
    color: aliceblue;
  }

  .tgs{
    background-color: #D53143;
    color: aliceblue;
    border-top-right-radius: 15px;
  }
  
  .card-text{  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
  }

  .bcard{
    margin: 5px;
    width: 1632px;
    height: 450px;
    background: #bdbcbc;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows:   20% 60% 20% ;
    grid-template-areas: "bcimg btitle"  
                         "bcimg bcbody"
                         "bcimg bfdate";
    border-radius: 5px;

  }

  .bcard img{
    height: 100%;
    width: 100%;
  }

  .bctitle{
    grid-area: btitle;
    text-align: left;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:   70% 30% ;
    grid-template-areas:"bctags"  
                        "bc2title";
    border-radius: 5px;
  }

  .bctagsContainer{
    grid-area: bctags;
    display: flex;
  }

  .bctitleContainer{
    grid-area: bc2title;
  }



  .bctitle h2{
    position: relative;
    bottom: 50%;
  }

  .bcbody{
    grid-area: bcbody;
    border-radius: 5px;
  }

  .bcimageContainer{
    grid-area: bcimg;
    border-radius: 5px;
  }

 .bcfooter{
    grid-area: bfdate;
    border-radius: 5px;
  }

  .bcacronym{
    background-color: #000000;
    color: aliceblue;
  }

  .bctgs{
    background-color: #D53143;
    color: aliceblue;
    border-top-right-radius: 15px;
  }